<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/cssjobs.css'%}"/>
    <title>Home page</title>
    <style>
       .container .jumbotron{
        background:red;
        color:white;
        border:2px solid blue;
        }
        body{
        background:url(https://images.unsplash.com/photo-1489610368847-c0d1dea29b4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80)
        }
        .container{
        margin-top:200px;
        }
        .jumbotron a{
        background:yellow;
        color:red;
        border:2px solid green;
        }
    </style>
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Welcome Subba Jobs</h1>
        <p>Continuous Jobs Updates For every Day.......as you required</p>
        <a class="btn btn-primary btn-lg" href="/hyd" role="button">Hyderabad Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/bang" role="button">Bangalore Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/chennai" role="button">Chennai Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/pune" role="button">Pune Jobs</a>

    </div>

</div>

</body>
</html>